<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|img|robots\.txt)
RewriteCond $1 !^(index\.php|bootstrap|robots\.txt)
RewriteCond $1 !^(index\.php|easyui|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
